html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.flex-boxes {
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  animation: fadeIn 3s;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: block; }
  .flex-boxes .flex-box {
    width: 100%;
    align-self: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
    display: block;
    flex: 2 2 15em;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .flex-boxes .flex-box:nth-child(1) {
      border-top: 6px solid #4ea500; }
      .flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
        background-color: rgba(78, 165, 0, 0.1); }
    .flex-boxes .flex-box:nth-child(2) {
      border-top: 6px solid #72BFBF; }
      .flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
        background-color: rgba(114, 191, 191, 0.1); }
    .flex-boxes .flex-box:nth-child(3) {
      border-top: 6px solid #92B1E3; }
      .flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
        background-color: rgba(146, 177, 227, 0.1); }
    .flex-boxes .flex-box:nth-child(4) {
      border-top: 6px solid #E3D743; }
      .flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
        background-color: rgba(227, 215, 67, 0.1); }
    .flex-boxes .flex-box:nth-child(5) {
      border-top: 6px solid #CCC; }
      .flex-boxes .flex-box:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover {
        background-color: rgba(204, 204, 204, 0.1); }
    .flex-boxes .flex-box:nth-child(6) {
      border-top: 6px solid #F6C05C; }
      .flex-boxes .flex-box:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover {
        background-color: rgba(246, 192, 92, 0.1); }

.elem0 img {
  display: block;
  width: 100%;
  margin: 0 auto 1em;
  opacity: 1; }

.elem1 {
  font-family: 'Conv_Pattaya-Regular', Sans-Serif;
  top: 82%;
  position: absolute;
  z-index: 1000;
  color: #FFF;
  width: 87%;
  font-size: 72px;
  transform: rotate(-10deg); }

.elem2 img {
  display: block;
  width: 100%;
  margin: 0 auto 1em;
  opacity: 1; }

.elem3 {
  font-family: 'Conv_Pattaya-Regular', Sans-Serif;
  top: 82%;
  position: absolute;
  z-index: 1000;
  color: #FFF;
  width: 87%;
  font-size: 72px;
  transform: rotate(-10deg); }

.elem4 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  background-color: #000;
  color: #FFF;
  text-align: left;
  font-size: 30px;
  padding-top: 30px;
  padding-left: 5%; }
  .elem4 p {
    margin: 0px 0 0px 0; }

.elem5 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  background-color: #000;
  color: #ccc;
  text-align: left;
  font-size: 23px;
  padding-left: 5%; }
  .elem5 p {
    margin: 0px 0 0px 0; }

.elem6 img {
  display: block;
  width: 100%;
  margin: 0 auto 1em;
  opacity: 1; }
.elem6 video {
  display: block;
  width: 100%;
  margin: 0 auto 1em;
  opacity: 1; }

.elem7 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  width: 45%;
  height: 50px;
  font-size: 21px; }

.elem8 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  width: 45%;
  float: left; }

.elem9 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  width: 45%;
  float: right;
  top: -50px;
  position: relative; }

.elem10 {
  width: 20%;
  background-color: #000;
  height: 100%;
  float: left; }

.elem11 {
  width: 79%;
  float: left; }
  .elem11 img {
    display: block;
    width: 100%;
    margin: 0 auto 1em;
    opacity: 1; }

.elem12 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  width: 79%;
  float: left;
  padding-left: 35px;
  text-align: left; }

.elem13 {
  width: 25%;
  float: right; }
  .elem13 img {
    display: block;
    width: 100%;
    opacity: 1; }

.elem13:parent {
  background: #F00; }

.elem14 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  width: 73%;
  height: 40%;
  float: right;
  background-color: #000;
  color: #FFF;
  position: relative; }
  .elem14 p {
    width: 50%;
    /* height: 100%; */
    float: right;
    font-size: 30px;
    vertical-align: 80%;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px; }

.elem15 {
  font-family: 'Conv_CSChatThaiUI', Sans-Serif;
  width: 73%;
  float: right;
  background-color: #000;
  color: #FFF;
  height: 60%; }
  .elem15 p {
    width: 80%;
    height: 100%;
    float: right;
    text-align: right;
    padding-right: 20px; }

/*# sourceMappingURL=test.css.map */
